/* Header */
header {
	width: 100%;
	display: block;
	background-color: #D8D8D8;
	text-align: center;
}

.main {
	margin: auto;
	width: 930px;
	margin-bottom: 40px;
	min-height: 560px;
}

.banner {
	margin-bottom: 20px;
}

.well h2 {
	margin-top: 0px;
}

.well {
	margin-top: 20px;
}

footer {
	width: 100%;
	display: block;
	background-color: #D8D8D8;
	padding: 20px 0px 20px 0px;
}

.footer {
	margin: auto;
	width: 930px;
}

.tooltip-inner {
	text-align: left;
}

.btn-container {
		margin-top: 50px;

}

.btn-container a.btn {
    margin-left: 10px;
}

/*Typography*/

h3 {
	margin-bottom: 40px;
}

.form-text {
	display: block;
	margin-top: 7px;
}

/*Responsive */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.main {
		margin: auto;
		width: 100%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.main {
		margin: auto;
		width: 930px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}